{{>system/header}}
{{>system/contentHeader}}

<section class="activites">
	<div class="container">
		<h1><span>Activités</span></h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni id est sit, unde tenetur cumque delectus mollitia fugiat at, veniam impedit harum aperiam quam dolorum voluptate commodi voluptatum eaque placeat. Omnis, incidunt explicabo doloremque eveniet, libero enim harum tempore quasi quod quis praesentium doloribus nesciunt animi, ducimus fugit. Incidunt, ratione!</p>
		<div>
			<article>
				<img src="/images/1.jpg" alt="">
				<h3>Lorem ipsum dolor sit.</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque!</p>
				<a href="#">Lire la suite -></a>
			</article>
			<article>
				<img src="/images/2.jpg" alt="">
				<h3>Lorem ipsum dolor sit.</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa!</p>
				<a href="#">Lire la suite -></a>
			</article>
{{!-- 			<article>
				<img src="/images/3.jpg" alt="">
				<h3>Lorem ipsum dolor sit.</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque!</p>
				<a href="#">Lire la suite -></a>
			</article>
			<article>
				<img src="/images/4.jpg" alt="">
				<h3>Lorem ipsum dolor sit.</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima.</p>
				<a href="#">Lire la suite -></a>
			</article>
			<article>
				<img src="/images/5.jpg" alt="">
				<h3>Lorem ipsum dolor sit.</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga.</p>
				<a href="#">Lire la suite -></a>
			</article>
			<article>
				<img src="/images/6.jpg" alt="">
				<h3>Lorem ipsum dolor sit.</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit.</p>
				<a href="#">Lire la suite -></a>
			</article> --}}
		</div>
	</div>
</section>

{{>system/contentFooter}}
{{>system/footer}}