{{>system/header}}
{{>system/contentHeader}}

<section class="article">
	<div class="container">
		<h1><span>Titre de l'artice</span></h1>
		<article>
			<div class="entete">
				<div class="number">17</div>
				<div class="year">Jan,2015</div>
			</div>
			<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo nulla, vero itaque placeat illum omnis.</h2>
			<div class="content">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur suscipit rem delectus cupiditate atque excepturi, saepe. Atque consequuntur natus dignissimos obcaecati distinctio voluptatem, quis, cumque velit molestiae corporis culpa nisi perspiciatis in deserunt eum dicta. Accusamus aspernatur magni vel iste at fugit minus reiciendis, tempora eaque optio id, officia odit. Vel ea, veritatis mollitia voluptatibus, voluptatem sapiente ab impedit inventore aliquam fugit quasi accusantium totam, sequi perspiciatis laborum aperiam ipsum magnam cumque minima? Mollitia culpa qui repellendus, fuga libero, quasi architecto beatae vitae aperiam, dolore ea. Eaque aliquid labore atque, consequuntur beatae quis facilis ex neque deleniti itaque. Alias, asperiores ad dolor ipsum inventore excepturi cupiditate saepe et laudantium, facere accusantium ullam assumenda perferendis, adipisci enim voluptates quaerat. Magni eveniet vero laboriosam magnam quasi possimus neque temporibus impedit similique sed eum nam distinctio quae, ipsam tempora, culpa, consequatur quam alias, modi! Adipisci amet sit delectus voluptas odio unde. Cum, tempore.
				</p>
			</div>
		</article>
		<div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
</section>

{{>system/contentFooter}}
{{>system/footer}}