{{>system/header}}
{{>system/contentHeader}}

<section class="titleArticles">
	<div class="container">
		<h1><span>Liste d'articles</span></h1>

		<div>
			<article>
				<div class="entete">
					25 Mai 2015
				</div>
				<div class="illu"></div>
				<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
				<div class="content">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus voluptatem dolorum ducimus, asperiores tempora quam iusto dolores libero maiores excepturi!
					</p>
					<a href="#" class="read-more">Lire la suite →</a>
				</div>
			</article>

			<article>
				<div class="entete">
					17 Janvier 2015
				</div>
				<div class="illu"></div>
				<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
				<div class="content">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus voluptatem dolorum ducimus, asperiores tempora quam iusto dolores libero maiores excepturi!
					</p>
					<a href="#" class="read-more">Lire la suite →</a>
				</div>
			</article>

			<article>
				<div class="entete">
					8 Novembre 2014
				</div>
				<div class="illu"></div>
				<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
				<div class="content">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus voluptatem dolorum ducimus, asperiores tempora quam iusto dolores libero maiores excepturi!
					</p>
					<a href="#" class="read-more">Lire la suite →</a>
				</div>
			</article>

		</div>
	</div>
</section>

{{>system/contentFooter}}
{{>system/footer}}