{{>system/header}}
{{>system/contentHeader}}

<section class="presentation">
	<div class="container">
		<h1>Présentation de différentes photos</h1>

		{{>system/slideshow}}

		<article class="agenda">
			<h2>Agenda</h1>
			<div>
				<h3>23 avril 2015</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas similique, provident. Consectetur, commodi beatae quidem.</p>
			</div>
			<div>
				<h3>26 mai 2015</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus expedita soluta quasi.</p>
			</div>
		</article>
	</div>

</section>



<section class="contact">
	<div class="banner">
		<h1>Contact</h1>
	</div>
	<div class="coordonnees">
		<p>
			<span>Adresse</span><br>
			R2D2 Rue Skywalker<br>
			6443582 Tattoine
		</p>
		<p>
			<span>Tel</span><br>
			0476 xx xx xx
		</p>
		<p>
			<span>Mail</span><br>
			xXXXx@xXXXx.be
		</p>
	</div>
	<div class="horaires">
		<p>
			<span>Heures d'ouvertures</span><br>
			Lun-Ven 8h00 > 18h00
		</p>
		<p>
			<span>Permanences</span><br>
			Le Mardi de 10h à 15h
		</p>
	</div>
</section>

{{>system/contentFooter}}
{{>system/footer}}