<div class="flexslider">
  <ul class="slides">
    <li><a href="#"><img src="images/1.jpg" alt="" /></a></li>
    <li><a href="#"><img src="images/2.jpg" alt="" /></a></li>
    <li><a href="#"><img src="images/3.jpg" alt="" /></a></li>
    <li><a href="#"><img src="images/4.jpg" alt="" /></a></li>
    <li><a href="#"><img src="images/5.jpg" alt="" /></a></li>
    <li><a href="#"><img src="images/6.jpg" alt="" /></a></li>
  </ul>
</div>