<section class="flexslider">

  <ul class="slides">
    <li>
      <img src="/images/apple2.jpg" />
      <div>
        <hgroup class="light">
          <nav>
            <h2>Truc</h2>
            <h3>Bidule</h3>
            <a href="#" target="_blank" class="button">En savoir +</a>
          </nav>
        </hgroup>
      </div>
    </li>
    <li>
      <img src="/images/ordi.jpg" />
      <div>
        <hgroup class="light">
          <nav>
            <h2>Machin</h2>
            <h3>Chose</h3>
            <a href="#" target="_blank" class="button">En savoir +</a>
          </nav>
        </hgroup>
      </div>
    </li>
    <li>
      <img src="/images/clavier.jpg" />
      <div>
        <hgroup class="light">
          <nav>
            <h2>Clavier</h2>
            <h3>Pas Bertrand</h3>
            <a href="#" target="_blank" class="button">En savoir +</a>
          </nav>
        </hgroup>
      </div>
    </li>
  </ul>

</section>