<div class="panoramaSlider">

  {{! Slide 1 }}
  <div class="current"></div>

  {{! Slide 2 }}
  <div></div>

  {{! Slide 3 }}
  <div></div>

  {{! Slide 4 }}
  <div></div>

  {{! Slide 5 }}
  <div></div>

  {{! Slide 6 }}
  <div></div>

</div>