<div class="panoramaSlider">

  {{! Slide 1 }}
  <div class="current">
    <div>
      <h3> -1- Lorem ipsum dolor.</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nihil.
        <br/>
        <a href="#">En savoir plus ></a>
      </p>
    </div>
  </div>

  {{! Slide 2 }}
  <div>
    <div>
      <h3> -2- Lorem ipsum dolor.</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nihil.
        <br/>
        <a href="#">En savoir plus ></a>
      </p>
    </div>
  </div>

  {{! Slide 3 }}
  <div>
    <div>
      <h3> -3- Lorem ipsum dolor.</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nihil.
        <br/>
        <a href="#">En savoir plus ></a>
      </p>
    </div>
  </div>

  {{! Slide 4 }}
  <div>
    <div>
      <h3> -4- Lorem ipsum dolor.</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nihil.
        <br/>
        <a href="#">En savoir plus ></a>
      </p>
    </div>
  </div>

  {{! Slide 5 }}
  <div>
    <div>
      <h3> -5- Lorem ipsum dolor.</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nihil.
        <br/>
        <a href="#">En savoir plus ></a>
      </p>
    </div>
  </div>

  {{! Slide 6 }}
  <div>
    <div>
      <h3> -6- Lorem ipsum dolor.</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, nihil.
        <br/>
        <a href="#">En savoir plus ></a>
      </p>
    </div>
  </div>

</div>