<div class="flexslider">
  <ul class="slides">
    <li><a href="#"><img src="images/1.jpg" alt="" /></a></li>
    <li><a href="#"><img src="images/2.jpg" alt="" /></a></li>
    <li><a href="#"><img src="images/3.jpg" alt="" /></a></li>
    <li><a href="#"><img src="images/4.jpg" alt="" /></a></li>
    <li><a href="#"><img src="images/5.jpg" alt="" /></a></li>
    <li><a href="#"><img src="images/6.jpg" alt="" /></a></li>
  </ul>
</div>

{{!-- <section class="panoramaSlider">

	<div class="wideContainer sliderContainer" id="panoramaSlider">

		<header class="contenu">
			<h1>Des chaînes<br/>pour vous divertir, vous<br/>informer, cuisiner ou écouter<br/>de la musique.</h1>
			<nav class="slider-menu">
				<ul>
					<li class="btn-slider-menu active" btn-link="sport">Sport</li>
					<li class="btn-slider-menu" btn-link="divertissement">Divertissement</li>
					<li class="btn-slider-menu" btn-link="informations">Informations</li>
					<li class="btn-slider-menu" btn-link="documentaires">Documentaires</li>
				</ul>
			</nav>
		</header>

		<!-- {{! Slide 1 }} -->
		<div class="current">
			<div class="innerContainer">
				<div>
					<ul>
						<li><img src="/voo2015/assets/images/icones/iconeABMoteurs_color.png" alt="Icone AB Moteurs" width="119" height="35" /></li>
						<li><img src="/voo2015/assets/images/icones/iconeMCS_color.png" alt="Icone MCS Sport" width="83" height="35" /></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- {{! Slide 2 }} -->
		<div>
			<div class="innerContainer">
				<div>
					<ul>
						<li><img src="/voo2015/assets/images/icones/iconeABMoteurs_color.png" alt="Icone AB Moteurs" width="119" height="35" /></li>
						<li><img src="/voo2015/assets/images/icones/iconeMCS_color.png" alt="Icone MCS Sport" width="83" height="35" /></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- {{! Slide 3 }} -->
		<div>
			<div class="innerContainer">
				<div>
					<ul>
						<li><img src="/voo2015/assets/images/icones/iconeABMoteurs_color.png" alt="Icone AB Moteurs" width="119" height="35" /></li>
						<li><img src="/voo2015/assets/images/icones/iconeMCS_color.png" alt="Icone MCS Sport" width="83" height="35" /></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- {{! Slide 4 }} -->
		<div>
			<div class="innerContainer">
				<div>
					<ul>
						<li><img src="/voo2015/assets/images/icones/iconeABMoteurs_color.png" alt="Icone AB Moteurs" width="119" height="35" /></li>
						<li><img src="/voo2015/assets/images/icones/iconeMCS_color.png" alt="Icone MCS Sport" width="83" height="35" /></li>
					</ul>
				</div>
			</div>
		</div>

	</div>
</section> --}}