@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500);

#main-nav,
#main-nav ul,
#main-nav li,
#main-nav a {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  line-height: 1;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

#main-nav {
  width: 100%;
  background: #fff;

  >ul {
    background: $grey;

    &:after {
      clear: both;
      content: '';
      display: table; }

    >li {
      float: left;
      margin-right: 15px;

      >a {
        display: block;
        margin: 0 0 2px 0;
        font-size: 12px;
        color: $white;

        >span {
          display: block;
          padding: 3px 5px;
          font-weight: 500; }
      }
    }

    >li.active>a{
      color: $green; }

    >li.mobile {
      display: none;
      min-height: 32px; }

    >li:last-child {
      ul {
        left: auto;
        right: 0; }
    }
  }

  a {
    line-height: 1.5; }
}

/* Sub menu */
#main-nav ul ul {
  display: none;
  position: absolute;
  top: 29px;
  left: 0;
  background: $lightgrey;
  border: 1px solid $grey;
  padding: 10px;
  margin: 0;
  width: 150px;
  z-index: 1;
  li {
    padding: 3px 0;
    margin: 0; }

  a {
    display: block;
    font-size: 12px;
    font-weight: 500;

    &:hover {
      color: $green; }
  }
}


@media all and (max-width: 480px) {
  #main-nav.expand ul {
    max-height: 900px;
    margin: 0;
  }

  #main-nav > ul {
    max-height: 32px;
    overflow: hidden;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;

    > li {
      display: block;
      float: none;
      margin-right: 0;
      >a {
        text-align: center; }
    }

    >li.mobile {
      display: block;

      i {
        float:right;
        font-style: normal; }
    }

  }

  #main-nav ul ul {
    position: relative;
    top: 0;
    width: 100%;
    >li>a {
      text-align: center;
    }
  }
}