.main-nav {
	@include clearfix;
	background-color: $grey;
	border-bottom: 3px solid $green;
	h1 {
		margin: 0;
		font-size: 1.5rem;
		@include span(1 of 3);
	}
	.logo {
		display: block;
		float: left;
		padding: 1em 0 1em 1em;
		width: 50%;
		@include susy-breakpoint(60em) {
			width: 10em;
		}
	}
	.main-nav-mobile {
		float: right;
		margin: 1.4em 1.6em 0 0;
		@include susy-breakpoint(60em) {
			display: none;
		}

		.fa-bars {
			color: $white;
			cursor: pointer;
		}
	}
	.main-nav-menu {
		display: none;
		clear: both;
		list-style: none;
		padding: 0;
		margin: 0;
		@include clearfix;
		@include susy-breakpoint(60em) {
			clear: none;
			display: block;
			float: right;
			line-height: 3em;
			padding-top: 13px;
		}

		> li {
			border-top: 1px solid $green;
			@include susy-breakpoint(60em) {
				float: left;
				border-top: none;
			}

			a {
				text-align: center;
				display: block;
				text-decoration: none;
				color: $white;
				font-size: 0.875em;
				/* @include primary-font($pf, $pfBold); */
				text-transform: uppercase;
				padding: 0.8em 1.25em;
				@include susy-breakpoint(60em) {
					padding: 0 1.25em;
					&:hover {
						color: $white;
					}
					&.active {
						color: $white;
					}
				}
			}
			&:last-child a {
				@include susy-breakpoint(60em) {
					padding: 0 2.5em 0 1.25em;
				}
			}
		}
		.sub-menu1, .sub-menu2, .sub-menu3 {
			display: none;
			clear: both;
			list-style: none;
			padding: 0;
			margin: 0;
			@include clearfix;
			@include susy-breakpoint(60em) {

			}
			li {
				border-bottom: 1px dotted $green;
				&:first-child {
					border-top: 1px dotted $green;
				}
				&:last-child {
					border-bottom: 0;
				}
				a {
					font-size: 0.75rem;
					color: $lightgrey;
					@include susy-breakpoint(60em){
						
					}
				}
			}
		}
	}
}